workflows_backup.json
[{"createdAt":"2025-10-08T18:41:15.406Z","updatedAt":"2025-10-11T06:28:32.046Z","id":"1LaQnwqSoTxmnw3Z","name":"Marketing Swarm - Flexible LLM","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"marketing-swarm-flexible","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,304],"webhookId":"marketing-swarm-flex"},{"parameters":{"workflowId":{"__rl":true,"value":"9jxl03jCcqg17oOy","mode":"id"},"options":{}},"id":"web-post-task","name":"Web Post Task","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[912,144]},{"parameters":{"workflowId":{"__rl":true,"value":"9jxl03jCcqg17oOy","mode":"id","cachedResultUrl":"/workflow/9jxl03jCcqg17oOy"},"options":{}},"id":"seo-task","name":"SEO Task","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[912,304]},{"parameters":{"workflowId":{"__rl":true,"value":"9jxl03jCcqg17oOy","mode":"id","cachedResultUrl":"/workflow/9jxl03jCcqg17oOy"},"options":{}},"id":"social-task","name":"Social Media Task","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[912,480]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.statusWebHook }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  taskId: $('Webhook').item.json.body.taskId,\n  status: 'completed',\n  timestamp: new Date().toISOString(),\n  step: 'swarm completed',\n  message: 'Marketing Swarm workflow completed',\n  sequence: 4,\n  totalSteps: 4,\n  conversationId: $('Webhook').item.json.body.conversationId,\n  userId: $('WebHook').item.json.userId,\n}) }}","options":{}},"id":"send-final-status","name":"Send Final Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,96],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  \"web post\": $json.webPost,\n  \"seo\": $json.seoContent,\n  \"social media\": $json.socialMedia\n}) }}","options":{}},"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1760,240]},{"parameters":{"assignments":{"assignments":[{"name":"provider","type":"string","value":"={{ $json.body.provider || 'openai' }}","id":"0e7e1195-46be-4104-ae35-19107420019d"},{"name":"model","type":"string","value":"={{ $json.body.model || 'gpt-4' }}","id":"997b9201-041c-4053-81f2-7e1f69ffe070"},{"name":"announcement","type":"string","value":"={{ $json.body.announcement }}","id":"37100b7a-3727-4855-824f-2725e80d0440"},{"name":"taskId","type":"string","value":"={{ $json.body.taskId }}","id":"c26c5743-8792-41fc-807a-65cc83a14ca1"},{"name":"conversationId","type":"string","value":"={{ $json.body.conversationId }}","id":"f95fd7fb-df93-4dd3-8450-2830ce517fcd"},{"name":"userId","type":"string","value":"={{ $json.body.userId }}","id":"56763026-b467-4e4b-b3fb-7842b63c1caf"},{"name":"statusWebhook","type":"string","value":"={{ $json.body.statusWebHook }}","id":"5b5c4d3a-93bf-4f2d-aadf-e31b89a41079"},{"id":"a95859db-69f5-46c2-a895-883b3659deac","name":"systemMessage","value":"You are a social media content strategist. Create engaging social media posts (NOT blog posts) for multiple platforms: Twitter/X (280 chars with hashtags), LinkedIn (professional tone, 1300 chars max), and Facebook (conversational, 500 chars). Focus on hooks, engagement, and platform-specific best practices. Include relevant hashtags and emojis where appropriate.","type":"string"},{"id":"5c7b8969-c60a-42df-b9dc-84849e0f10a2","name":"userMessage","value":"={{ $json.body.announcement }}","type":"string"},{"id":"7b8664d1-0f50-4a1d-ad16-3867967041f8","name":"stepName","value":"Create Social Media","type":"string"},{"id":"291d34dd-2292-4cea-9432-3ae16b054053","name":"sequence","value":"3","type":"string"},{"id":"8cc15d2f-cab2-4691-b5ec-954ded016211","name":"totalSteps","value":"3","type":"string"}]},"options":{}},"id":"99b3b396-8e31-444e-aa5e-f652105cf9a7","name":"Social Media","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,480]},{"parameters":{"assignments":{"assignments":[{"name":"provider","type":"string","value":"={{ $json.body.provider || 'openai' }}","id":"0e7e1195-46be-4104-ae35-19107420019d"},{"name":"model","type":"string","value":"={{ $json.body.model || 'gpt-4' }}","id":"997b9201-041c-4053-81f2-7e1f69ffe070"},{"name":"announcement","type":"string","value":"={{ $json.body.announcement }}","id":"37100b7a-3727-4855-824f-2725e80d0440"},{"name":"taskId","type":"string","value":"={{ $json.body.taskId }}","id":"c26c5743-8792-41fc-807a-65cc83a14ca1"},{"name":"conversationId","type":"string","value":"={{ $json.body.conversationId }}","id":"f95fd7fb-df93-4dd3-8450-2830ce517fcd"},{"name":"userId","type":"string","value":"={{ $json.body.userId }}","id":"56763026-b467-4e4b-b3fb-7842b63c1caf"},{"name":"statusWebhook","type":"string","value":"={{ $json.body.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","id":"5b5c4d3a-93bf-4f2d-aadf-e31b89a41079"},{"id":"a95859db-69f5-46c2-a895-883b3659deac","name":"systemMessage","value":"You are an expert SEO specialist. Generate comprehensive SEO-optimized content including: meta title (60 chars max), meta description (155 chars max), 5-10 relevant keywords, H1 heading, and JSON-LD structured data for the given topic. Focus on search intent, readability, and technical SEO best practices.","type":"string"},{"id":"5c7b8969-c60a-42df-b9dc-84849e0f10a2","name":"userMessage","value":"={{ $json.body.announcement }}","type":"string"},{"id":"7b8664d1-0f50-4a1d-ad16-3867967041f8","name":"stepName","value":"Create SEO","type":"string"},{"id":"291d34dd-2292-4cea-9432-3ae16b054053","name":"sequence","value":2,"type":"number"},{"id":"8cc15d2f-cab2-4691-b5ec-954ded016211","name":"totalSteps","value":3,"type":"number"}]},"options":{}},"id":"c035862f-b3ef-48e8-b7d3-8226b0a0642a","name":"SEO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,304]},{"parameters":{"assignments":{"assignments":[{"name":"provider","type":"string","value":"={{ $json.body.provider || 'openai' }}","id":"0e7e1195-46be-4104-ae35-19107420019d"},{"name":"model","type":"string","value":"={{ $json.body.model || 'gpt-4' }}","id":"997b9201-041c-4053-81f2-7e1f69ffe070"},{"name":"announcement","type":"string","value":"={{ $json.body.announcement }}","id":"37100b7a-3727-4855-824f-2725e80d0440"},{"name":"taskId","type":"string","value":"={{ $json.body.taskId }}","id":"c26c5743-8792-41fc-807a-65cc83a14ca1"},{"name":"conversationId","type":"string","value":"={{ $json.body.conversationId }}","id":"f95fd7fb-df93-4dd3-8450-2830ce517fcd"},{"name":"userId","type":"string","value":"={{ $json.body.userId }}","id":"56763026-b467-4e4b-b3fb-7842b63c1caf"},{"name":"statusWebhook","type":"string","value":"={{ $json.body.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","id":"5b5c4d3a-93bf-4f2d-aadf-e31b89a41079"},{"id":"a95859db-69f5-46c2-a895-883b3659deac","name":"systemMessage","value":"You are a brilliant blog post writer who specializes in being both entertaining and informative, and you're best known for being able to write posts for all audiences. ","type":"string"},{"id":"5c7b8969-c60a-42df-b9dc-84849e0f10a2","name":"userMessage","value":"={{ $json.body.announcement }}","type":"string"},{"id":"7b8664d1-0f50-4a1d-ad16-3867967041f8","name":"stepName","value":"Write Blog Post","type":"string"},{"id":"291d34dd-2292-4cea-9432-3ae16b054053","name":"sequence","value":1,"type":"number"},{"id":"8cc15d2f-cab2-4691-b5ec-954ded016211","name":"totalSteps","value":3,"type":"number"}]},"options":{}},"id":"extract-config","name":"Web Post","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,144]},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,224],"id":"9a602287-8e53-45f0-a320-517acc8c7912","name":"Merge"},{"parameters":{"jsCode":"// Get all 3 items from the merge\nconst items = $input.all();\n\n// Combine them into a single object\nreturn [{\n  json: {\n    webPost: items[0].json.text,\n    seoContent: items[1].json.text,\n    socialMedia: items[2].json.text\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,240],"id":"df59f646-cdbe-4d71-b958-db6a17c2d003","name":"Code in JavaScript"}],"connections":{"Webhook":{"main":[[{"node":"Web Post","type":"main","index":0},{"node":"SEO","type":"main","index":0},{"node":"Social Media","type":"main","index":0}]]},"Web Post Task":{"main":[[{"node":"Merge","type":"main","index":0}]]},"SEO Task":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Social Media Task":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Send Final Status":{"main":[[]]},"Social Media":{"main":[[{"node":"Social Media Task","type":"main","index":0}]]},"SEO":{"main":[[{"node":"SEO Task","type":"main","index":0}]]},"Web Post":{"main":[[{"node":"Web Post Task","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Send Final Status","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"9011a749-9328-4c75-9d7a-1578048ca754","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-09T23:01:45.917Z","updatedAt":"2025-10-09T23:01:45.917Z","role":"workflow:owner","workflowId":"1LaQnwqSoTxmnw3Z","projectId":"i9Hx3voRXPvZMWtL","project":{"createdAt":"2025-10-09T20:29:48.678Z","updatedAt":"2025-10-09T20:45:39.243Z","id":"i9Hx3voRXPvZMWtL","name":"Golfer Geek <golfergeek@orchestratorai.io>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-10-08T18:29:22.544Z","updatedAt":"2025-10-11T06:27:38.143Z","id":"9jxl03jCcqg17oOy","name":"Helper: LLM Task","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || \"http://host.docker.internal:7100/webhooks/status\"}}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  taskId: $json.taskId,\n  status: 'running',\n  timestamp: new Date().toISOString(),\n  step: $json.stepName,\n  message: `Starting ${$json.stepName || 'task'}`,\n  sequence: $json.sequence,\n  totalSteps: $json.totalSteps,\n  conversationId: $json.conversationId,\n  userId: $json.userId\n}) }}","options":{}},"id":"send-start-status","name":"Send Start Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,176],"continueOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.provider }}","rightValue":"openai","operator":{"type":"string","operation":"equals"},"id":"a1593526-252b-40e7-b755-414c0363680d"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"46d844e4-2f30-44cb-87c6-618ed4c789d3","leftValue":"={{ $json.provider }}","rightValue":"ollama","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9331fc1c-d594-4900-81b6-89021334541c","leftValue":"=  {{ $json.provider }}","rightValue":"anthropic","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":0}},"id":"select-provider","name":"Select Provider","type":"n8n-nodes-base.switch","typeVersion":3,"position":[256,432]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\\n  model: $('Trigger').item.json.model || 'claude-3-sonnet-20240229',\\n  messages: [{ role: 'user', content: $('Trigger').item.json.prompt }],\\n  temperature: $('Trigger').item.json.temperature || 0.7,\\n  max_tokens: $('Trigger').item.json.maxTokens || 1000\\n}) }}","options":{}},"id":"anthropic-request","name":"Anthropic Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,512]},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{ $json.message.content }}","id":"30f4cc34-cbec-4fca-8b91-e20aa43ddd65"},{"name":"provider","type":"string","value":"openai","id":"541ecad6-3b94-4836-96b0-b9781b984082"},{"name":"model","type":"string","value":"={{ $('Edit Fields').item.json.model }}","id":"60f6d0c1-0884-4c00-bacc-53c73c86c2c2"}]},"options":{}},"id":"normalize-openai","name":"Normalize OpenAI","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,112]},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{ $json.output }}","id":"926dda93-2e9e-4dfc-8bc0-117cdd7411ec"},{"name":"provider","type":"string","value":"ollama","id":"e3f38e7d-5f10-4f83-93e4-a07d98b0d9ec"},{"name":"model","type":"string","value":"={{ $('Edit Fields').item.json.model }}","id":"97cf8ec6-5dfd-422c-b9ff-834a7af9af05"},{"name":"usage","type":"object","value":"={{ { prompt_tokens: $json.prompt_eval_count, completion_tokens: $json.eval_count } }}","id":"13a20d07-fc9f-4bac-aec5-98f4007f2b27"}]},"options":{}},"id":"normalize-ollama","name":"Normalize Ollama","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,304]},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{ $json.content[0].text }}"},{"name":"provider","type":"string","value":"anthropic"},{"name":"model","type":"string","value":"={{ $json.model }}"},{"name":"usage","type":"object","value":"={{ $json.usage }}"}]},"options":{}},"id":"normalize-anthropic","name":"Normalize Anthropic","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,528]},{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  taskId: $('Edit Fields').item.json.taskId,\n  status: 'completed',\n  timestamp: new Date().toISOString(),\n  step: $('Edit Fields').item.json.stepName,\n  message: `Completed ${$('Edit Fields').item.json.stepName || 'task'}`,\n  sequence: $('Edit Fields').item.json.sequence,\n  totalSteps: $('Edit Fields').item.json.totalSteps,\n  conversationId: $('Edit Fields').item.json.conversationId,\n  userId: $('Edit Fields').item.json.userId\n}) }}","options":{}},"id":"send-end-status","name":"Send End Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,224],"continueOnFail":true},{"parameters":{},"id":"execute-workflow-trigger","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-144,400]},{"parameters":{"assignments":{"assignments":[{"id":"12f8c18a-7b6e-4614-85bf-229053383b5c","name":"taskId","value":"={{ $json.taskId }}","type":"string"},{"id":"9028a85d-49ec-4801-a5a4-2d69221316ab","name":"conversationId","value":"={{ $json.conversationId}}","type":"string"},{"id":"3ff69eae-d1d9-4914-bc6b-373025caf3cd","name":"userId","value":"={{ $json.userId }}","type":"string"},{"id":"56ff3fd3-baf6-47c6-9d39-ac0b0ee08fe1","name":"provider","value":"={{ $json.provider }}","type":"string"},{"id":"ccff1938-95b6-4aa9-a5c2-920db7438e80","name":"model","value":"={{ $json.model }}","type":"string"},{"id":"78a2244a-5425-45ee-8aa2-b1fe99b5148d","name":"systemMessage","value":"={{ $json.systemMessage }}","type":"string"},{"id":"8e5dd07f-7174-48d1-b8e9-88e1d14ee329","name":"userMessage","value":"={{ $json.userMessage }}","type":"string"},{"id":"caaafbf9-3b3f-4af7-a781-5a4777759fe5","name":"stepName","value":"={{ $json.stepName }} ","type":"string"},{"id":"61b1529b-9cb1-4b73-b469-b835fc78767a","name":"sequence","value":"={{ $json.sequence }}","type":"number"},{"id":"c5163f91-4647-4a7c-b7b7-346abb4acb25","name":"statusWebhook","value":"={{ $json.statusWebhook }}","type":"string"},{"id":"3f34c0ff-db77-42a1-9d41-90abe27a1150","name":"=totalSteps","value":"={{ $json.totalSteps }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,288],"id":"81c83945-6bd0-41bb-9a6d-7c8eb2db9338","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,384],"id":"9d553c6b-ecae-4157-acf2-c5d6dff83eaa","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[928,400],"id":"84dbc11a-2747-4d17-ab88-d368279feb87","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"hz52TIdzOn7p9IzY","name":"Ollama account"}}},{"parameters":{"modelId":{"__rl":true,"value":"={{ $json.model }}","mode":"id"},"messages":{"values":[{"content":"={{ $json['userMessage'] }}"},{"content":"={{ $json['systemMessage'] }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[576,112],"id":"0f6dbcf1-2458-4881-8c32-a4619529064e","name":"OpenAI","credentials":{"openAiApi":{"id":"7tuOlNCTiyjK0BzN","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json['userMessage'] }}","options":{"systemMessage":"={{ $json['systemMessage'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[576,288],"id":"9ad2d867-3295-49ee-bfe9-d5641c47dcf1","name":"Ollama"},{"parameters":{"jsCode":"console.log('Received data:', JSON.stringify($input.all(), null, 2));\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,560],"id":"09f5c425-7ea8-45e3-82f2-55e072314d39","name":"Code in JavaScript"}],"connections":{"Send Start Status":{"main":[[]]},"Select Provider":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Ollama","type":"main","index":0}],[{"node":"Anthropic Request","type":"main","index":0}],[],[]]},"Anthropic Request":{"main":[[{"node":"Normalize Anthropic","type":"main","index":0}]]},"Normalize OpenAI":{"main":[[{"node":"Send End Status","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Normalize Ollama":{"main":[[{"node":"Send End Status","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Normalize Anthropic":{"main":[[{"node":"Send End Status","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Start Status","type":"main","index":0},{"node":"Select Provider","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Ollama","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Normalize OpenAI","type":"main","index":0}]]},"Ollama":{"main":[[{"node":"Normalize Ollama","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"50dd25f5-908f-42f1-ab0c-eb475aab702c","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-09T23:01:53.794Z","updatedAt":"2025-10-09T23:01:53.794Z","role":"workflow:owner","workflowId":"9jxl03jCcqg17oOy","projectId":"i9Hx3voRXPvZMWtL","project":{"createdAt":"2025-10-09T20:29:48.678Z","updatedAt":"2025-10-09T20:45:39.243Z","id":"i9Hx3voRXPvZMWtL","name":"Golfer Geek <golfergeek@orchestratorai.io>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-10-09T23:04:05.011Z","updatedAt":"2025-10-10T19:58:25.658Z","id":"Q08T7oMX2dZslqV4","name":"Marketing Swarm - Major Announcement","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"marketing-swarm","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[112,112],"webhookId":"7f338c6b-a9bb-446b-9a1d-702739d89a51"},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"started","id":"dc91eaac-9dec-4613-a6b0-fc3db7a22a7d"},{"name":"taskId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.taskId }}","id":"22bd8856-784c-4ea2-b492-b5e12aea4616"},{"name":"executionId","type":"string","value":"={{ $execution.id }}","id":"4e7561bc-0907-4c69-9fd8-41a5a581154a"},{"name":"timestamp","type":"string","value":"={{ $now.toISO() }}","id":"61326e64-42e5-417b-93d2-a521721bfe17"},{"name":"step","type":"string","value":"initialization","id":"f4d66a0c-32a4-4e9c-a9b4-b1fd733262bd"},{"name":"conversationId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.conversationId }}","id":"ab39d56d-368a-4c63-8bf8-6ae40b687351"},{"name":"userId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.userId }}","id":"b7375362-9b87-4da9-b1f7-66858474dab7"},{"name":"sequence","type":"number","value":1,"id":"79aaca09-b9cb-41e3-9b26-59ea458fe670"},{"name":"totalSteps","type":"number","value":5,"id":"e4dd4e33-f247-4f50-b678-7946403bfb37"}]},"options":{}},"id":"statusStart","name":"Status: Started","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,0]},{"parameters":{"method":"POST","url":"={{ $json.body.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"webhookStatusStart","name":"Send Status: Started","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,0]},{"parameters":{"prompt":"=Write a compelling web post announcement for: {{ $json.announcement }}. Include headline, introduction, key features, and call-to-action. Format as HTML.","options":{"maxTokens":1000,"temperature":0.7},"requestOptions":{}},"id":"webPost","name":"Generate Web Post","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[304,208],"credentials":{"openAiApi":{"id":"7tuOlNCTiyjK0BzN","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"in_progress"},{"name":"taskId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.taskId }}"},{"name":"executionId","type":"string","value":"={{ $execution.id }}"},{"name":"timestamp","type":"string","value":"={{ $now.toISO() }}"},{"name":"step","type":"string","value":"web_post_complete"},{"name":"webPost","type":"string","value":"={{ $json.text }}"},{"name":"conversationId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.conversationId }}"},{"name":"userId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.userId }}"},{"name":"sequence","type":"number","value":2},{"name":"totalSteps","type":"number","value":5}]},"options":{}},"id":"statusWebPost","name":"Status: Web Post Done","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,208]},{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"webhookStatusWebPost","name":"Send Status: Web Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,112]},{"parameters":{"prompt":"=Create SEO-optimized content for: {{ $json.announcement }}. Include meta title, meta description, keywords, and structured data JSON-LD.","options":{"maxTokens":800,"temperature":0.5},"requestOptions":{}},"id":"seoContent","name":"Generate SEO Content","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[704,304],"credentials":{"openAiApi":{"id":"7tuOlNCTiyjK0BzN","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"in_progress"},{"name":"taskId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.taskId }}"},{"name":"executionId","type":"string","value":"={{ $execution.id }}"},{"name":"timestamp","type":"string","value":"={{ $now.toISO() }}"},{"name":"step","type":"string","value":"seo_complete"},{"name":"seoContent","type":"string","value":"={{ $json.text }}"},{"name":"conversationId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.conversationId }}"},{"name":"userId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.userId }}"},{"name":"sequence","type":"number","value":3},{"name":"totalSteps","type":"number","value":5}]},"options":{}},"id":"statusSEO","name":"Status: SEO Done","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,304]},{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"webhookStatusSEO","name":"Send Status: SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,208]},{"parameters":{"prompt":"=Create social media posts for: {{ $json.announcement }}. Generate posts for Twitter/X (280 chars), LinkedIn (professional, 1300 chars), and Facebook (engaging, 500 chars). Include relevant hashtags.","options":{"maxTokens":1200,"temperature":0.8},"requestOptions":{}},"id":"socialMedia","name":"Generate Social Media","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[1104,400],"credentials":{"openAiApi":{"id":"7tuOlNCTiyjK0BzN","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"in_progress"},{"name":"taskId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.taskId }}"},{"name":"executionId","type":"string","value":"={{ $execution.id }}"},{"name":"timestamp","type":"string","value":"={{ $now.toISO() }}"},{"name":"step","type":"string","value":"social_media_complete"},{"name":"socialMedia","type":"string","value":"={{ $('Generate Social Media').item.json.text }}"},{"name":"conversationId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.conversationId }}"},{"name":"userId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.userId }}"},{"name":"sequence","type":"number","value":4},{"name":"totalSteps","type":"number","value":5}]},"options":{}},"id":"statusSocial","name":"Status: Social Done","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,400]},{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"webhookStatusSocial","name":"Send Status: Social","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,304]},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"completed"},{"name":"taskId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.taskId }}"},{"name":"conversationId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.conversationId }}"},{"name":"userId","type":"string","value":"={{ $('Webhook Trigger').item.json.body.userId }}"},{"name":"executionId","type":"string","value":"={{ $execution.id }}"},{"name":"timestamp","type":"string","value":"={{ $now.toISO() }}"},{"name":"webPost","type":"string","value":"={{ $('Status: Web Post Done').item.json.webPost }}"},{"name":"seoContent","type":"string","value":"={{ $('Status: SEO Done').item.json.seoContent }}"},{"name":"socialMedia","type":"string","value":"={{ $('Status: Social Done').item.json.socialMedia }}"},{"name":"sequence","type":"number","value":5},{"name":"totalSteps","type":"number","value":5}]},"options":{}},"id":"finalOutput","name":"Final Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,512]},{"parameters":{"method":"POST","url":"={{ $json.statusWebhook || 'http://host.docker.internal:7100/webhooks/status' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"webhookStatusComplete","name":"Send Status: Complete","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,512]},{"parameters":{"assignments":{"assignments":[{"name":"status","type":"string","value":"completed"},{"name":"taskId","type":"string","value":"={{ $('Final Output').item.json.taskId }}"},{"name":"conversationId","type":"string","value":"={{ $('Final Output').item.json.conversationId }}"},{"name":"userId","type":"string","value":"={{ $('Final Output').item.json.userId }}"},{"name":"executionId","type":"string","value":"={{ $('Final Output').item.json.executionId }}"},{"name":"timestamp","type":"string","value":"={{ $('Final Output').item.json.timestamp }}"},{"name":"webPost","type":"string","value":"={{ $('Final Output').item.json.webPost }}"},{"name":"seoContent","type":"string","value":"={{ $('Final Output').item.json.seoContent }}"},{"name":"socialMedia","type":"string","value":"={{ $('Final Output').item.json.socialMedia }}"}]},"options":{}},"id":"finalResponse","name":"Final Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,512]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respondWebhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2112,512]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Status: Started","type":"main","index":0},{"node":"Generate Web Post","type":"main","index":0}]]},"Status: Started":{"main":[[{"node":"Send Status: Started","type":"main","index":0}]]},"Generate Web Post":{"main":[[{"node":"Status: Web Post Done","type":"main","index":0}]]},"Status: Web Post Done":{"main":[[{"node":"Send Status: Web Post","type":"main","index":0},{"node":"Generate SEO Content","type":"main","index":0}]]},"Generate SEO Content":{"main":[[{"node":"Status: SEO Done","type":"main","index":0}]]},"Status: SEO Done":{"main":[[{"node":"Send Status: SEO","type":"main","index":0},{"node":"Generate Social Media","type":"main","index":0}]]},"Generate Social Media":{"main":[[{"node":"Status: Social Done","type":"main","index":0}]]},"Status: Social Done":{"main":[[{"node":"Send Status: Social","type":"main","index":0},{"node":"Final Output","type":"main","index":0}]]},"Final Output":{"main":[[{"node":"Send Status: Complete","type":"main","index":0}]]},"Send Status: Complete":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Final Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","saveDataSuccessExecution":"all"},"staticData":null,"meta":null,"pinData":{},"versionId":"3cf7eef1-a38b-43c4-916e-4ea32f5a4e9b","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-09T23:04:05.011Z","updatedAt":"2025-10-09T23:04:05.011Z","role":"workflow:owner","workflowId":"Q08T7oMX2dZslqV4","projectId":"i9Hx3voRXPvZMWtL","project":{"createdAt":"2025-10-09T20:29:48.678Z","updatedAt":"2025-10-09T20:45:39.243Z","id":"i9Hx3voRXPvZMWtL","name":"Golfer Geek <golfergeek@orchestratorai.io>","type":"personal","icon":null,"description":null}}]}]