storage/n8n-workflows/ai-image-generation-api.json
{
  "createdAt": "2025-10-29T18:44:58.534Z",
  "updatedAt": "2025-11-19T19:31:42.860Z",
  "id": "hwnAwkDkoX10aQAz",
  "name": "AI Image Generation API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c89c20fd-1bb3-4db7-8674-5cf1c0828823",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "generate-image-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.body.prompt }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"standard\",\n  \"response_format\": \"url\"\n}",
        "options": {}
      },
      "id": "e991eefc-6683-4404-b1fa-0a20c077b86d",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "7tuOlNCTiyjK0BzN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d916f380-657e-4688-b766-7046b81d99ee",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "image/png"
              },
              {
                "name": "Content-Disposition",
                "value": "inline; filename=\"generated-image.png\""
              }
            ]
          }
        }
      },
      "id": "36829016-4a30-47a7-9229-8a13f812827d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cfd8572f-4e42-4a71-8f36-6798deab7d51",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-29T18:44:58.534Z",
      "updatedAt": "2025-10-29T18:44:58.534Z",
      "role": "workflow:owner",
      "workflowId": "hwnAwkDkoX10aQAz",
      "projectId": "i9Hx3voRXPvZMWtL",
      "project": {
        "createdAt": "2025-10-09T20:29:48.678Z",
        "updatedAt": "2025-10-09T20:45:39.243Z",
        "id": "i9Hx3voRXPvZMWtL",
        "name": "Golfer Geek <golfergeek@orchestratorai.io>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-10-14T19:30:39.851Z",
            "updatedAt": "2025-10-14T19:30:39.851Z",
            "userId": "9f12b0ff-372b-4d46-b8ea-30c14a4a14a2",
            "projectId": "i9Hx3voRXPvZMWtL",
            "user": {
              "createdAt": "2025-10-09T20:29:48.187Z",
              "updatedAt": "2025-11-19T19:28:09.777Z",
              "id": "9f12b0ff-372b-4d46-b8ea-30c14a4a14a2",
              "email": "linksmarttechllc@gmail.com",
              "firstName": "Justin",
              "lastName": "Link",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T20:45:55.451Z",
                "personalization_survey_n8n_version": "1.113.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "9jxl03jCcqg17oOy",
                "userActivatedAt": 1760149441660,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1761763499124
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
