apps/api/supabase/snapshots/n8n/marketing-swarm-major-announcement.json
{
  "id": "Q08T7oMX2dZslqV4",
  "name": "Marketing Swarm - Major Announcement",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-swarm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        112
      ],
      "webhookId": "7f338c6b-a9bb-446b-9a1d-702739d89a51"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "started",
              "id": "dc91eaac-9dec-4613-a6b0-fc3db7a22a7d"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.taskId }}",
              "id": "22bd8856-784c-4ea2-b492-b5e12aea4616"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $execution.id }}",
              "id": "4e7561bc-0907-4c69-9fd8-41a5a581154a"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}",
              "id": "61326e64-42e5-417b-93d2-a521721bfe17"
            },
            {
              "name": "step",
              "type": "string",
              "value": "initialization",
              "id": "f4d66a0c-32a4-4e9c-a9b4-b1fd733262bd"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.conversationId }}",
              "id": "ab39d56d-368a-4c63-8bf8-6ae40b687351"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.userId }}",
              "id": "b7375362-9b87-4da9-b1f7-66858474dab7"
            },
            {
              "name": "sequence",
              "type": "number",
              "value": 1,
              "id": "79aaca09-b9cb-41e3-9b26-59ea458fe670"
            },
            {
              "name": "totalSteps",
              "type": "number",
              "value": 5,
              "id": "e4dd4e33-f247-4f50-b678-7946403bfb37"
            }
          ]
        },
        "options": {}
      },
      "id": "statusStart",
      "name": "Status: Started",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.statusWebhook || 'http://host.docker.internal:6100/webhooks/status' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhookStatusStart",
      "name": "Send Status: Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "prompt": "=Write a compelling web post announcement for: {{ $json.announcement }}. Include headline, introduction, key features, and call-to-action. Format as HTML.",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "id": "webPost",
      "name": "Generate Web Post",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        304,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "7tuOlNCTiyjK0BzN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "in_progress"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.taskId }}"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "step",
              "type": "string",
              "value": "web_post_complete"
            },
            {
              "name": "webPost",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.conversationId }}"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.userId }}"
            },
            {
              "name": "sequence",
              "type": "number",
              "value": 2
            },
            {
              "name": "totalSteps",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "statusWebPost",
      "name": "Status: Web Post Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.statusWebhook || 'http://host.docker.internal:6100/webhooks/status' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhookStatusWebPost",
      "name": "Send Status: Web Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        112
      ]
    },
    {
      "parameters": {
        "prompt": "=Create SEO-optimized content for: {{ $json.announcement }}. Include meta title, meta description, keywords, and structured data JSON-LD.",
        "options": {
          "maxTokens": 800,
          "temperature": 0.5
        },
        "requestOptions": {}
      },
      "id": "seoContent",
      "name": "Generate SEO Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        704,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "7tuOlNCTiyjK0BzN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "in_progress"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.taskId }}"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "step",
              "type": "string",
              "value": "seo_complete"
            },
            {
              "name": "seoContent",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.conversationId }}"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.userId }}"
            },
            {
              "name": "sequence",
              "type": "number",
              "value": 3
            },
            {
              "name": "totalSteps",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "statusSEO",
      "name": "Status: SEO Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.statusWebhook || 'http://host.docker.internal:6100/webhooks/status' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhookStatusSEO",
      "name": "Send Status: SEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        208
      ]
    },
    {
      "parameters": {
        "prompt": "=Create social media posts for: {{ $json.announcement }}. Generate posts for Twitter/X (280 chars), LinkedIn (professional, 1300 chars), and Facebook (engaging, 500 chars). Include relevant hashtags.",
        "options": {
          "maxTokens": 1200,
          "temperature": 0.8
        },
        "requestOptions": {}
      },
      "id": "socialMedia",
      "name": "Generate Social Media",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        1104,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "7tuOlNCTiyjK0BzN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "in_progress"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.taskId }}"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "step",
              "type": "string",
              "value": "social_media_complete"
            },
            {
              "name": "socialMedia",
              "type": "string",
              "value": "={{ $('Generate Social Media').item.json.text }}"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.conversationId }}"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.userId }}"
            },
            {
              "name": "sequence",
              "type": "number",
              "value": 4
            },
            {
              "name": "totalSteps",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "statusSocial",
      "name": "Status: Social Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.statusWebhook || 'http://host.docker.internal:6100/webhooks/status' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhookStatusSocial",
      "name": "Send Status: Social",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "completed"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.taskId }}"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.conversationId }}"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.userId }}"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "webPost",
              "type": "string",
              "value": "={{ $('Status: Web Post Done').item.json.webPost }}"
            },
            {
              "name": "seoContent",
              "type": "string",
              "value": "={{ $('Status: SEO Done').item.json.seoContent }}"
            },
            {
              "name": "socialMedia",
              "type": "string",
              "value": "={{ $('Status: Social Done').item.json.socialMedia }}"
            },
            {
              "name": "sequence",
              "type": "number",
              "value": 5
            },
            {
              "name": "totalSteps",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "finalOutput",
      "name": "Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.statusWebhook || 'http://host.docker.internal:6100/webhooks/status' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhookStatusComplete",
      "name": "Send Status: Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "completed"
            },
            {
              "name": "taskId",
              "type": "string",
              "value": "={{ $('Final Output').item.json.taskId }}"
            },
            {
              "name": "conversationId",
              "type": "string",
              "value": "={{ $('Final Output').item.json.conversationId }}"
            },
            {
              "name": "userId",
              "type": "string",
              "value": "={{ $('Final Output').item.json.userId }}"
            },
            {
              "name": "executionId",
              "type": "string",
              "value": "={{ $('Final Output').item.json.executionId }}"
            },
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ $('Final Output').item.json.timestamp }}"
            },
            {
              "name": "webPost",
              "type": "string",
              "value": "={{ $('Final Output').item.json.webPost }}"
            },
            {
              "name": "seoContent",
              "type": "string",
              "value": "={{ $('Final Output').item.json.seoContent }}"
            },
            {
              "name": "socialMedia",
              "type": "string",
              "value": "={{ $('Final Output').item.json.socialMedia }}"
            }
          ]
        },
        "options": {}
      },
      "id": "finalResponse",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respondWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2112,
        512
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Status: Started",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Web Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Started": {
      "main": [
        [
          {
            "node": "Send Status: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Web Post": {
      "main": [
        [
          {
            "node": "Status: Web Post Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Web Post Done": {
      "main": [
        [
          {
            "node": "Send Status: Web Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate SEO Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Content": {
      "main": [
        [
          {
            "node": "Status: SEO Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: SEO Done": {
      "main": [
        [
          {
            "node": "Send Status: SEO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Social Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Media": {
      "main": [
        [
          {
            "node": "Status: Social Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Social Done": {
      "main": [
        [
          {
            "node": "Send Status: Social",
            "type": "main",
            "index": 0
          },
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Output": {
      "main": [
        [
          {
            "node": "Send Status: Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Status: Complete": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "3cf7eef1-a38b-43c4-916e-4ea32f5a4e9b",
  "triggerCount": 1,
  "meta": null
}
